<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    {% block cssfiles %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    {% endblock %}

    <meta charset="UTF-8">
    <title>{% block title %} Document() {% endblock %}</title>
</head>
<body>
<div class="container">
    {% block navbar %}
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Home</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Pets<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/pets/new">New Pet</a></li>
                    <li><a href="/pets/list">View List</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Adoptions<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/adoptions/new">New Adoption</a></li>
                    <li><a href="/adoptions/list">View List</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Medical<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">New Medical Register</a></li>
                    <li><a href="#">View List</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Options<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">My Profile</a></li>
                    <li><a href="#">Logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    {% endblock %}

    {% block header%}
    <h4>Base Block Header</h4>
    {% endblock %}

    {% block content%}
    <h4>Base Block Content</h4>
    {% endblock %}

    {% block footer%}
    <h4>Base Block Footer</h4>
    {% endblock %}

    {% block jsfiles %}
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% endblock %}
</div>
</body>
</html>